<b>Based on Desigantion:<br></b>

<form action="/det/" method="POST">
    {%csrf_token%}
    <input type="text" name="desi" placeholder="search">
    <input type="submit" value="search"><br>


<br>
<br>
<b>Or</b>
<br>
<br>
    
<b>Based on leaves:<br></b>

    <input type="text" name="leave" placeholder="search">
    <input type="submit" value="search">

    <br>
<br>
<b>Or</b>
<br>
<br>
 

<b>Based on Basic:<br></b>

    <input type="text" name="basic" placeholder="search">
    <input type="submit" value="search">
</form>
 
